h1{
    Border : 8px solid red;
    font-size : 300%;
}
p3{
    font-size: 200%;
    Border: 1px solid red
}
.button{
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  transition-duration: 0.5s;
  cursor: pointer;
}
.button1 {
  background-color: white; 
  color: #04AA6D; 
  border: 2px solid #04AA6D;
}

.button1:hover {
  background-color: #04AA6D;
  color: white;
}

.button2 {
  background-color: white; 
  color: #EE4B2B; 
  border: 2px solid #EE4B2B;
}

.button2:hover {
  background-color: #EE4B2B;
  color: white;
}

.button3{
    font-size: 35px;
    background-color: white; 
    color: black; 
    border: 2px solid #04AA6D;
}
    
.button3:hover {
  background-color: #04AA6D;
  color: white;
}

